<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body id = "settings">
    <div class="editContainer">
        <h2>Edit Your Profile</h2>
        <form method="POST" action="/edit-profile" class="loginForm">
            <div class="editRow">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value={{ user }} disabled>
            </div>
            <div class="editRow">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value=>
            </div>
            <div class="editRow">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" value=>
            </div>
            <div class="editRow">
                <label for="gender">Gender:</label>
                <input type="text" id="gender" name="gender" value=>
            </div>
            <div class="editRow">
                <label for="occupation">Occupation:</label>
                <input type="text" id="occupation" name="occupation">
            </div>
            <div class="editRow">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location">
            </div>
            <div class="editRow">
                <label for="expectations">What do you want out of this app?</label>
                <textarea id="expectations" name="goals" rows="4" cols="50"></textarea>
            </div>

            <div class="buttonRow">
                <button type="submit" id="buttonInput">Save</button>
                <button type="button" id="backToChat" onclick="window.location.href='/'">Back to Chat</button>
            </div>
        </form>
    </div>
</body>
</html>