<!DOCTYPE html>
<html lang="en">
<head>
    <title>Therapist Chatbot</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body id="index" onload="getInitialGreeting()">
    <div class="mainContainer">
        <h2>Therapist Chatbot</h2>
        <div id="chatbox"></div>
        <div id="userInput">
            <input id="textInput" type="text" placeholder="Type your message...">
            <button id="buttonInput">Send</button>
        </div>
    </div>
    <form action="/edit-profile" method="get">
    <p class="loggedUser">Logged in as: <input id="loggedUserinp" value= {{username}} readonly name="user"></p>
    <button type="submit" id="topRightBtn" class="btn" >Edit Profile</button>
</form>
    <script src="../static/script.js"></script>
</body>
</html>
