<html lang="en">
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <<body>
        <div class="loginContainer">
            <h2>Login</h2>
            <form method="POST" action="/login" class="loginForm">
                <div class="formRow">
                    <label for="username">Username:</label>
                    <input class="textInput" type="text" id="username" name="username" required>
                </div>
                <div class="formRow">
                    <label for="password">Password:</label>
                    <input class="textInput" type="password" id="password" name="password" required>
                </div>
                <button id="buttonInput" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>